body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.top-banner{
    display:flex;
    margin-bottom: 100px;
}
.banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.name-color{
    color: rgb(228, 49, 79);
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(238, 20, 30));
    color: #000;
    padding: 10px;
    border-radius: 4px;
}
.max-width{
    width: 50%;
    margin-right: 40px;
    margin-left: 40px;
}
.max-width img{
    width: 80%;
}
.dream-Big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box-bg{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}
.box{
    width: 45%;
    box-shadow: 10px 5px 5px black;
    /* margin: 0,5%px,0,5%; */
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 15px;
    
    
}
.full-stack{
    border-left: 10px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
    
}
.baby-Web{
    border-left: 10px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
footer{
    text-align: center;
}